* {
    padding: 0;
    margin: 0;
    /* handles how padding in border will be added to an element 
    default value is content-box which means padding and border will
    be added to its total width and height. It'll spread from the outside
    vs the inside.
    */
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

body{
    height: 100vh;
    background-image: url('./img/background.jpg');
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    display: flex;
}

h1 {
    font-size: 3rem;
    text-align: center;
    color: ghostwhite;
}
.game-container {
    margin: auto;
    display: flex;
    flex-direction: column;
}
.barca-game{
    width: 800px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
    border: 1px solid white;
    padding: 10px;
    background-color: rgba(21, 24, 35, 0.7);
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0);
}


.barca-card {
    /* including the 10 pixels on each side given by the margin */
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    cursor: pointer;
}

.barca-card:hover {
    transform: scale(.97);
    transition: transform .2s;
}

.barca-card.flip {
    transform: rotateY(180deg);
    cursor: auto;
}

.front-side,
.back-side {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border: 2px solid #DB0030;
    backface-visibility: hidden;
}

.front-side {
    transform: rotateY(180deg)
}

.reset-btn {
    margin: auto;    
}

button {
    background-color: #FFED02;
    margin-top: 25px;
    padding: 25px 50px;
    font-weight: bold;
    font-size: 1.3rem;
}